﻿@model IEnumerable<PetBlog.Models.Owner>
@{
    ViewData["Title"] = "Index";
}

<h2>Owners</h2>
<div>
    @{ 
        string id = "";
    }
    @if ((string)ViewData["UserHasOwner"] == "False")
    {
        @Html.ActionLink("Join Us!", "Create")
    }
    else if ((string)ViewData["UserHasOwner"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")
    }
    else
    {
        @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasOwner"], "Owner")
        id = (string)ViewData["UserHasOwner"];
    }
</div>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.OwnerAddress)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MemberSince)
        </th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberSince)
        </td>

        <td>
            @if (item.OwnerID.ToString() == id)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.OwnerID})
                @Html.Raw(" | ")
            }
            @Html.ActionLink("Details", "Details", new { id = item.OwnerID})
            @if(item.OwnerID.ToString() == id)
            {
                @Html.Raw(" | ")
                @Html.ActionLink("Delete", "Delete", new { id = item.OwnerID})
            }
        </td>
    </tr>
}
</table>

