﻿@model PetBlog.Models.Pet

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="New">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetName" class="control-label"></label>
                <input asp-for="PetName" class="form-control" />
                <span asp-validation-for="PetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetSize" class="control-label"></label>
                <input asp-for="PetSize" class="form-control" />
                <span asp-validation-for="PetSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetDOB" class="control-label"></label>
                <input asp-for="PetDOB" class="form-control" />
                <span asp-validation-for="PetDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasPic" class="control-label"></label>
                <input asp-for="HasPic" class="form-control" />
                <span asp-validation-for="HasPic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgType" class="control-label"></label>
                <input asp-for="ImgType" class="form-control" />
                <span asp-validation-for="ImgType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeciesID" class="control-label"></label>
                <input asp-for="SpeciesID" class="form-control" />
                <span asp-validation-for="SpeciesID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerID" class="control-label"></label>
                <select asp-for="OwnerID" class ="form-control" asp-items="ViewBag.OwnerID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
